
/* app/globals.css */
@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
  --imperium-black: #1A1916;
  --imperium-red: #5A1818;
  --imperium-gold: #A48D60;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--imperium-black);
  color: rgba(255, 255, 255, 0.86);
}
* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgba(164, 141, 96, 0.25);
}


.imperial-text {
  font-family: var(--font-cinzel);
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.imperial-smallcaps {
  font-family: var(--font-cinzel);
  font-variant-caps: all-small-caps;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
